h3{
    font-size: 30px;
    text-align: center;
    margin-top:50px;
}

.navbar a:nth-child(1){
    color: #272727;
    pointer-events: none;
    font-weight: 900;
}

.choose{
    width: 160px;
    text-align: center;
    margin: 25px auto;
    border-bottom: 2px dashed #464040;
}

.choose h2,p{
    display: inline;
}

.choose a{
    text-decoration: none;
    color: #F18383;
}

.choose a:hover{
    color: #ac5353;
}

.video{
    margin: 0px auto 0;
    padding-top: 20px;
}

.video2,.video3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:20px;
}

.videoBox{
    position: relative;
    display: inline-block;
    flex: none;
}

.video3 .videoBox{
    width: 326px;
    margin: 0 30px 50px;
}

.video2 .videoBox{
    width: 560px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.video2 .videoBox iframe{
    width: 560px;
    height: 315px;
}

.videoBox span{
    position: absolute;
    right: -8px;
    top: 0;
    font-size: 14px;
    color: #999999;
}

.photo{
    padding-top: 20px;
}

.photoBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.photos{
    width: 400px;
    margin: 2.5px 5px;
}

#photo18,#photo21,#photo23{
    margin-right: 6px;
}

@media screen and (max-width:768px){
    .video2 .videoBox{
        width: 400px;
        margin-bottom: 35px;
        margin-left: 0;
    }

    .video2 .videoBox iframe{
        width: 400px;
        height: 225px;
    }

}


@media screen and (max-width:500px){
    .photos{
        width: 300px;
    }

    .video2 .videoBox{
        width: 320px;
        margin-bottom: 35px;
    }

    .video2 .videoBox iframe{
        width: 320px;
        height: 180px;
    }

    .width100{
        width: 100%;
    }

    #photo18{
        margin-bottom: 5px;
    }
}
