.navbar a:nth-child(3){
    color: #272727;
    pointer-events: none;
}

.article{
    width: 80%;
    margin: 0 auto;
}

.article h4{
    font-size: 20px;
}

.article iframe{
    border: 3px solid #6d5f5f;
    border-radius: 5px;
    margin-top: 15px;
}

.art{
    margin-top: 50px;
}

.article h3{
    width: 300px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 30px;
}

#art7{
    margin-top: 25px;
}