*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "SimSun";
    
}

.container{
    background-color: #eedfdf;
    width:100%;
    margin: 0 auto;
}

header img{
    width:10%;
    display: block;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
}

header img:hover{
    width:20%;
}

nav{
    background-color: rgb(255, 175, 175);
    padding: 10px 0 10px 30px;
    position: sticky;
    top:0;
    z-index: 1;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(252, 248, 248);
    font-weight: bold;
}
nav a:hover{
    color:#555;
}

#contact{
    color:#555;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
}

#contact:hover{
    color:#555;
}

#video{
    text-align: center;
    margin: 80px 0;
}

#video a{
    font-size: 25px;
    color:black;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
}

#video a:hover{
    color:#383838;
    background-color: #FAACA8;
}

#article{
    width:100%;
    height:1000px;
}

h1{
    margin: 50px auto;
    width: 100px;
    font-size: 30px;
    border-bottom: 2px solid #FAACA8;
}

.clear{
    clear: left;
}

.photo{
    width: 100%;
    height: 500px;
}

.photo img{
    width: 33.33%;
    height: auto;
    float: left;
    padding: 50px;
}

footer{
    padding: 6px 40px;
    background-color: #473e3e;
    color:rgb(255, 250, 241);
    font-size: 11px;
    font-family: 'Lucida Sans';
    margin-top: 50px;
    clear: both;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:1020px){

    .news{
        margin: 0 auto;
    }

    #article {
        height:600px;
    }
}

@media screen and (max-width:800px) {
    header img{
        width:20%;
        transition: 0.5s ease-in-out;
    }

    header img:hover{
        width:40%;
    }

    .photo{
        text-align:center ;
    }

    .photo img{
        clear: both;
        width: 70%;
        position: relative;
        left: 15%;
    }
}

@media screen and (max-width:500px){
    .photo img{
        width: 90%;
        position: relative;
        left: 25px;
       
    }
}


    
